<?php

$finder = PhpCsFixer\Finder::create()
    ->in('src');

$rules = [
    '@PSR2' => true,
    '@Symfony' => true,
    '@PhpCsFixer' => true,
    '@PHP70Migration' => true,
    'concat_space' => false,
    'yoda_style' => true,
    'array_syntax' => [
        'syntax' => 'short',
    ],
    'constant_case' => [
        'case' => 'lower',
    ],
    'declare_strict_types' => true,
    'final_class' => true,
    'global_namespace_import' => [
        'import_classes' => true,
    ],
    'mb_str_functions' => true,
    'no_superfluous_phpdoc_tags' => [
        'allow_mixed' => true,
    ],
    'phpdoc_add_missing_param_annotation' => [
        'only_untyped' => true,
    ],
    'psr0' =>[
        'dir' => 'src',
    ],
    'psr4' => true,
    'multiline_whitespace_before_semicolons' => false,
    'php_unit_test_class_requires_covers' => false,
    'php_unit_internal_class' => false,
];

return PhpCsFixer\Config::create()
    ->setRules($rules)
    ->setFinder($finder);
